body{
	font-family: Helvetica;
}

#viewer{
	border: 1px solid black;
}

#weightLabel{
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.flex-value{
	font-size: 30px;
	width: 100px;
	display: inline-block;
	padding: 5px;
	margin: 5px;
	border: 3px solid lightslategrey;
}
